<!--/*
    Copyright SR_
*/-->

<pre data-sly-use.newmodelwithexporter="com.mysite.mysite.core.models.NewModelWithExporter">
NewModelWithExporter says:
<br>

<ul>
    <li>${newmodelwithexporter.resource}</li>
    <li>${newmodelwithexporter.title}</li>
    <li>${newmodelwithexporter.pageTitle}</li>
    <li>${newmodelwithexporter.navTitle}</li>
    <li>${newmodelwithexporter.description}</li>
    <li>${newmodelwithexporter.createdAt}</li>
    <li>${newmodelwithexporter.navRoot}</li>
    <li>${newmodelwithexporter.queryBuilder}</li>
    <li>${newmodelwithexporter.resourceResolver}</li>
    <li>${newmodelwithexporter.size}</li>
    <li>${newmodelwithexporter.page}</li>
</ul>

<ul>
    <li>${properties.resource}</li>
    <li>${properties.title}</li>
    <li>${properties.pageTitle}</li>
    <li>${properties.navTitle}</li>
    <li>${properties.description}</li>
    <li>${properties.createdAt}</li>
    <li>${properties.navRoot}</li>
    <li>${properties.queryBuilder}</li>
    <li>${properties.resourceResolver}</li>
    <li>${properties.size}</li>
    <li>${properties.page}</li>
</ul>



</pre>
